.custom-topbar {
    background-color: #1a3a5f;
    color: #ffffff;
}

.custom-topbar windowcontrols button {
    color: #ffffff;
}

.sidebar-panel {
    background-color: #e0e0e0;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

.custom-view-switcher-bg {
    background-color: #d0e1f9;
    padding: 6px;
    border-bottom: 1px solid #b0c4de;
}

splitview>box:last-child {
    background-color: #cfd8dc;
    border-left: 1px solid #b0bec5;

}

.dim-label {
    opacity: 0.7;
}

.bg-green {
    background-color: green;
}

.user-card {
    background-color: green;
}

toastoverlay > widget {
    valign: start;
    margin-top: 12px;
}

.boxed-list {
    margin-bottom: 12px;
}

/* Target the text view widget class and its inner C-level text canvas node natively */
/*.monospace textview, */
.monospace textview text {
    /* FIX: Changed letter 'l' to number '1' to create a valid dark charcoal color */
    /*background-color: #1e1e1e;*/ 
    
    /* Clean cream-white typography style for terminal visibility */
    color: #dfdbd2;
}

.monospace  {
    /*background-color: #1e1e1e;*/
}

.login_btn {
    background-color: #fd0000;
}

